<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
 <% if resource.errors.count > 0 %>
  <div class="alert alert-info">
    <a class="close" data-dismiss="alert">×</a>
    <%= devise_error_messages! %>
  </div>
<% end %>
<div class="form">
  <div class="panel panel-primary half_width">
    <div class="panel-heading">
      Sign up
    </div>

    <div class="panel-body">
      <div class="row form-property">
        <div class="col-md-3">
          <%= f.label :username %>
        </div>
        <div class="col-md-9">
          <%= f.text_field :username, :autofocus => true %>
        </div>
      </div>

      <div class="row form-property">
        <div class="col-md-3">
          <%= f.label :password %>
        </div>
        <div class="col-md-9">
          <%= f.password_field :password %>
        </div>
      </div>

      <div class="row form-property">
        <div class="col-md-3">
          <%= f.label :password_confirmation %>
        </div>
        <div class="col-md-9">
          <%= f.password_field :password_confirmation %>
        </div>
      </div>

      <div><%= f.submit "Sign up", {:class => "btn btn-primary"} %></div>
    </div>

    <div class="panel-footer">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
<% end %>