<div class="devise">
  <div class="panel panel-primary">
    <div class="panel-heading">
      Sign up
    </div>

    <div class="panel-body">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="row devise-property">
          <div class="col-md-4">
            <%= f.label :email %>
          </div>
          <div class="col-md-8">
            <%= f.email_field :email, :autofocus => true %>
          </div>
        </div>

        <div class="row devise-property">
          <div class="col-md-4">
            <%= f.label :password %>
          </div>
          <div class="col-md-8">
            <%= f.password_field :password %>
          </div>
        </div>

        <div class="row devise-property">
          <div class="col-md-4">
            <%= f.label :password_confirmation %>
          </div>
          <div class="col-md-8">
            <%= f.password_field :password_confirmation %>
          </div>
        </div>

        <div><%= f.submit "Sign up", {:class => "btn btn-primary"} %></div>
      <% end %>
    </div>

    <div class="panel-footer">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>